@fontSizeStandard: 16;

.rem-px(@property; @sizeValue) {
  @pxValue: @sizeValue;
  @remValue: (@sizeValue / @fontSizeStandard);
  @{property}: ~"@{remValue}rem";
  @{property}: ~"@{pxValue}px";
}

.responsive(@minWidth; @rules) {
  @media only screen and (min-width: @minWidth) {
    @rules();
  }
}

/**
 * font LESS Mixin
 * use: .font(
 *   @font-family, // name
 *   @font-size,   // any unit/inherit
 *   @font-weight, // light/normal/bold/inherit | 300/400/700
 *   @font-style   // italic/normal/inherit
 * )
 */
 .font(@font-family, @font-size, @font-weight, @font-style){
  font-family: @font-family;
  font-size: @font-size;
  font-weight: @font-weight;
  font-style: @font-style;
}